services:
  web:
    image: ghcr.io/alexcheng1982/docker-magento2:2.4.6-p5
    platform: linux/amd64
    ports:
      - "80:80"
    links:
      - db
      - opensearch
    depends_on:
      db:
        condition: service_healthy
      opensearch:
        condition: service_healthy
    volumes:
      - magento-data:/var/www/html
      - ./PublicSquare:/var/www/html/app/code/PublicSquare
      - ./bin/setup-cli:/usr/local/bin/setup-cli
      - ./docker/php.ini:/usr/local/etc/php/php.ini
      - ./docker/msmtprc:/etc/msmtprc
    env_file:
      - env/ci-stack.env
    networks:
      default:
        aliases:
          - magento.test
  db:
    image: mysql:8.0.35
    platform: linux/amd64
    volumes:
      - db-data:/var/lib/mysql
    ports:
      - 3306:3306
    env_file:
      - env/ci-stack.env
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "localhost", "-u", "magento", "-pmagento" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 20s
  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    platform: linux/amd64
    ports:
      - "8580:80"
    links:
      - db
    depends_on:
      - db
  opensearch:
    image: markoshust/magento-opensearch:2.12-0
    ports:
      - 9200:9200
      - 9300:9300
      - 9600:9600
    env_file: env/opensearch.env
    environment:
      - "discovery.type=single-node"
      - "cluster.routing.allocation.disk.threshold_enabled=false"
      - "index.blocks.read_only_allow_delete"
    healthcheck:
      test: [ "CMD-SHELL", "curl -fsSL http://localhost:9200/_cluster/health || exit 1" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 20s
  mailcatcher:
    image: sj26/mailcatcher
    ports:
      - "1080:1080"
  selenium:
    image: seleniarm/standalone-chromium:latest
    platform: linux/arm64
    shm_size: 2g
    ports:
      - "4444:4444"
      - "7900:7900"
volumes:
  magento-data:
  db-data:
  opensearch-data:
