<?xml version="1.0"?>
<!--
/**
 * Configuration
 *
 * @category  PublicSquare
 * @package   PublicSquare_Payments
 * @author    PublicSquare <info@publicsquare.com>
 * @copyright 2024 PublicSquare
 * @license   http://opensource.org/licenses/osl-3.0.php (OSL 3.0)
 * @link https://publicsquare.com/
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <publicsquare_payments>
                <model>PublicSquarePaymentsFacade</model>
                <active>0</active>
                <title>Credit/Debit Card</title>
                <security_type>iframe</security_type>
                <pre_authorization_type>test</pre_authorization_type>
                <cvv_verification>1</cvv_verification>
                <three_d_secure_authentiation>0</three_d_secure_authentiation>
                <card_types>amex,visa,mastercard,discover</card_types>
                <payment_action>sale</payment_action>
                <avs_check>1</avs_check>
                <!-- What can we do? -->
                <is_gateway>1</is_gateway>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_capture_partial>1</can_capture_partial>
                <can_capture_once>1</can_capture_once>
                <can_refund>1</can_refund>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
                <can_void>1</can_void>
                <can_cancel>1</can_cancel>
                <can_use_internal>1</can_use_internal>
                <can_use_checkout>1</can_use_checkout>
                <can_save_cc>0</can_save_cc>
                <can_use_for_multishipping>0</can_use_for_multishipping>
                <can_authorize_vault>1</can_authorize_vault>
                <can_capture_vault>1</can_capture_vault>
                <can_vault>1</can_vault>
                <paymentInfoKeys>cc_type,cc_last_4,cc_trans_id,payment_id,fraud_decision,avsStreetAddressResponseCode,cvvResponseCode</paymentInfoKeys>
            </publicsquare_payments>
            <publicsquare_payments_cc_vault>
                <model>PublicSquarePaymentsCCVaultFacade</model>
                <instant_purchase>
                    <available>PublicSquare\Payments\Model\InstantPurchase\CreditCard\AvailabilityChecker</available>
                </instant_purchase>
            </publicsquare_payments_cc_vault>
        </payment>
        <csp>
            <policies>
                <storefront_checkout_index_index>
                    <scripts>
                        <inline>1</inline>
                    </scripts>
                </storefront_checkout_index_index>
                <sales_order_create_index>
                    <scripts>
                        <inline>1</inline>
                    </scripts>
                </sales_order_create_index>
            </policies>
        </csp>
    </default>
</config>
