<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="payment_method_assign_data_publicsquare_payments">
        <observer name="publicsquare_payments_gateway_data_assign" instance="PublicSquare\Payments\Observer\DataAssignObserver" />
    </event>
</config>