<?xml version="1.0"?>
<!--
/**
 * Configuration
 *
 * @category  Credova
 * @package   Credova_Payments
 * @author    Credova <info@credova.com>
 * @copyright 2024 Credova
 * @license   http://opensource.org/licenses/osl-3.0.php (OSL 3.0)
 * @link https://credova.com/
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../Store/etc/config.xsd">
    <default>
        <payment>
            <credovapayments>
                <active>0</active>
                <title>Credit/Debit Card Payment</title>
                <environment>1</environment>                
                <model>Credova\Payments\Model\PaymentMethod</model>
                <security_type>iframe</security_type>
                <pre_authorization_type>test</pre_authorization_type>
                <cvv_verification>1</cvv_verification>
                <three_d_secure_authentiation>0</three_d_secure_authentiation>
                <card_types>amex,visa,mastercard,discover</card_types>
                <capture_action>authorize</capture_action>
            </credovapayments>
        </payment>
    </default>
</config>
