<?xml version="1.0"?>
<!--
/**
 * Configuration
 *
 * @category  Credova
 * @package   Credova_Payments
 * @author    Credova <info@credova.com>
 * @copyright 2024 Credova
 * @license   http://opensource.org/licenses/osl-3.0.php (OSL 3.0)
 * @link https://credova.com/
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <credova_payments>
                <model>CredovaPaymentsFacade</model>
                <active>0</active>
                <title>Credit/Debit Card</title>
                <model>Credova\Payments\Model\PaymentMethod</model>
                <security_type>iframe</security_type>
                <pre_authorization_type>test</pre_authorization_type>
                <cvv_verification>1</cvv_verification>
                <three_d_secure_authentiation>0</three_d_secure_authentiation>
                <card_types>amex,visa,mastercard,discover</card_types>
                <payment_action>authorize</payment_action>
                <avs_check>1</avs_check>
                
                <!-- What can we do? -->
                <is_gateway>1</is_gateway>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_capture_partial>1</can_capture_partial>
                <can_capture_once>1</can_capture_once>
                <can_refund>1</can_refund>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
                <can_void>1</can_void>
                <can_cancel>1</can_cancel>
                <can_use_internal>1</can_use_internal>
                <can_use_checkout>1</can_use_checkout>
                <can_save_cc>0</can_save_cc>
                <can_use_for_multishipping>0</can_use_for_multishipping>
            </credova_payments>
        </payment>
    </default>
</config>
