<?xml version="1.0"?>
<!--
/**
 * Routes File
 *
 * @category  PublicSquare
 * @package   PublicSquare_Payments
 * @author    PublicSquare <info@publicsquare.com>
 * @copyright 2024 PublicSquare
 * @license   http://opensource.org/licenses/osl-3.0.php (OSL 3.0)
 * @link https://publicsquare.com/
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="publicsquare_payments" frontName="publicsquare-payments">
            <module name="PublicSquare_Payments" />
        </route>
    </router>
</config>